#login {
    font-weight: bold;
    color: #88b06a;
}

.loginHeader {
    font-size: 3rem;
    margin-bottom: 1em;
}

#login label {
    font-weight: normal;
    color: #000;
}

.btnForm {
    font-weight: bold;
    background: #88b06a;
    color: #fff;
}

.loginCheck {
    color: #88b06a;
}

.editForm {
    width: 400px;
    height: 300px;
}

.editProducto {
    width: 400px;
    height: 300px;
}